Django==4.2.1
django-cors-headers==4.0.0
django-extensions==3.2.1
djangorestframework==3.14.0

django-filter==23.2
chibi_django>=0.2.3
chibi>=0.7.7
django-mysql==4.9.0
djangorestframework-xml==2.0.0
djangorestframework-yaml==2.0.0
drf-nested-routers==0.91
dj-database-url==0.5.0
CMRESHandler==1.0.0
elasticsearch_dsl==7.0.0
djangorestframework-simplejwt==5.2.2

celery==5.2.7

mysqlclient==2.1.1

gevent==22.10.2
gunicorn==20.1.0
setproctitle==1.1.10

factory-boy==2.11.1
flake8==3.5.0
pycodestyle==2.3
coverage==4.5.2

Sphinx
sphinx-intl
sphinx-rtd-theme
sphinxcontrib-httpdomain
sphinxcontrib-plantuml
# sphinxcontrib-spelling


vcrpy-unittest

ipython


certifi


#django_rest_marshmallow==4.0.1
cryptography
